/*= CORE CSS */
.hidden { display:none; }
.eventcalender {
    margin-top: 15px;
}
.eventCalendar-wrap { 
	position:relative; 
	overflow:hidden;
}
.eventCalendar-wrap .arrow { 
	position:absolute; 
	z-index:5; 
	top:3px;
}
	.eventCalendar-wrap .prev {
		left:3px;
	}
	.eventCalendar-wrap .next {
		right:3px;
	}
	
.eventsCalendar-currentTitle .monthTitle {
	display:block;
	text-align:center;
}
	.eventsCalendar-monthWrap {
		position:absolute;
		top:0; left:0;
		z-index:2;
	}
		.eventsCalendar-monthWrap.currentMonth { 
			z-index:1;
		}	
.eventsCalendar-daysList { 
	display:table;
	width:100%;
}
	.eventsCalendar-daysList.showAsWeek {
		display:block;
	}
	
	.eventsCalendar-daysList li {
		display:table-cell;
	}


		.eventsCalendar-daysList.showAsWeek li {
			display:block;
			float:left;
			width:14.28%;
			height:20px;
		}
	.eventsCalendar-daysList li a {
		padding:0;
		display:block;
		text-align:center;
		font-size:8px;
		min-width:7px;
	}
.eventsCalendar-loading {
	display:block;
	min-width:100px;
	height:40px;
	line-height:40px;
}	
.eventsCalendar-list {
	position:relative;
	z-index:1;
	
}	
	.eventsCalendar-list.oldEventList {
		z-index:2;
	}
	.eventsCalendar-subtitle {
		padding-left:5px;
		font-weight:bold;
		font-size:120%;
	}
li.cl_imaging time {
	background: url("../img/sprites.png") no-repeat scroll left -90px rgba(0, 0, 0, 0);
}
li.cl_icu time {
     background: url("../img/sprites.png") no-repeat scroll left -115px rgba(0, 0, 0, 0);
 }
li.cl_hospital time {
    background: url("../img/sprites.png") no-repeat scroll left -140px rgba(0, 0, 0, 0);
}
li.cl_it time {
    background: url("../img/sprites.png") no-repeat scroll left -165px rgba(0, 0, 0, 0);
}
li.cl_cardio time {
    background: url("../img/sprites.png") no-repeat scroll -103px -140px rgba(0, 0, 0, 0);
}
li.cl_pharma time {
    background: url("../img/sprites.png") no-repeat scroll -103px -115px rgba(0, 0, 0, 0);
}
li.cl_lab time {
    background: url("../img/sprites.png") no-repeat scroll -103px -88px rgba(0, 0, 0, 0);
}

.Event > *{padding-left: 20px}
/* end of core CSS */	
	


	