body {
  color: $base-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $base-background-color;
  line-height: $base-line-height;
}
img{max-width: 100%}
ul li{
  list-style: none;
}
.container{
  padding-right: 0px;
  padding-left: 0px;
  width: 1200px;
  max-width: 100%;
}
.row{margin: 0; padding: 0}
a{color: $base-link-color}
.reset-pd{padding: 0}
input, textarea, button{
@include border-radius(0px);
}
