@media only screen and (max-width: 1250px) {
  .container {
    padding: 0 3%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 5px;
  }

  .news-area .news-content {
    padding-left: 10px;

  }
  .img-banner > img {
    width: 100%;
  }
  .gallery-des p, .gallery-des a {
    font-size: 14px !important;
  }

  .right-sign-form .btn-right-signup {
    font-size: 11px;
  }
  ul.light-box li img {
    width: auto !important;
    height: auto !important;
  }
  .front-arrow-wrapper {
    display: none
  }
  .main-content .testimonial-block p {
    font-size: 15px !important;
  }
  .issue-slider-next {
    right: 0 !important;
  }
  .container #topslider img {
    height: auto;
  }
  .container {
    width: 100% !important;
  }
  p, a {
    font-size: 11px
  }
  h1 {
    font-size: 20px
  }
  h2 {
    font-size: 18px
  }
  h3 {
    font-size: 16px
  }
  h4 {
    font-size: 14px
  }
  .issue-top-right a {
    font-size: 25px;
  }
  .library-content .library-left-block > img {
    padding: 0 15px;
  }
  .movers-block .movers-right-block {
    padding-left: 20px;
  }
  .news-area h3 {
    font-size: 12px !important;
  }
  .event-Slider .event-Slider-content {

    padding-right: 0 !important;
  }

  .block-des p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .menu-link {
    display: none
  }

  .main-nav ul.nav.navbar-nav li a {

  }
  .news-image img {
    width: 100% !important;
  }
  .content-area {
    padding-left: 5px;
    padding-right: 5px;
  }

}
@media only screen and (max-width: 835px) {
  .eventsCalendar-currentTitle .monthTitle {
    font-size: 22px !important
  }
}

/* mobile device */
@media only screen and (max-width: 767px) {
  #topslider .carousel-inner {
    width: 100% !important;
  }
  .eventsCalendar-currentTitle .monthTitle {
    font-size: 20px !important
  }
  .right-sidebar {
    max-width: 100%;
  }
  .channel-page .testimonial {
    padding: 0 !important;
    border-right: 0 !important;
  }
  .home-page .testimonial {
    padding: 0 !important;
    border-right: 0 !important;
  }

  .collapse ul li.login-lst, .collapsing ul li.login-lst {
    display: none !important
  }

  .morvers-block {
    margin-top: 15px;
    border-left: 0 !important;
    padding-left: 0 !important;
  }
  .content-area .main-content-wrapper {
    background: none repeat scroll 0 0 #fff;
    padding: 0;
  }
  .top-middle {
    padding-left: 0 !important;
  }
  .faculty-main-content-w .faculty-main-content:nth-child(2n+1) {
    border-right: 0;
  }
  .issue-top-right a {
    font-size: 18px;
  }

  .event-Slider .event-Slider-left {
    text-align: right;
  }
  .header_top .search-form {
    margin-top: 0;

  }
  .testimonial-block.books-block .book {
    padding-left: 0 !important;
  }

  .movers-block .movers-right-block {
    padding-left: 10px;
  }
  .content-area {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  nav .nav.navbar-nav {
    position: static !important;
  }
  .faculty-header-left a:first-child {
    margin-right: 5px !important;
  }

  .main_header {
    height: auto !important;
  }
  .main-content {
    padding-right: 0 !important;
  }
  ul.top-middle-lst li a {
    padding: 0 !important;
  }

  .main-nav .dropdown.navbar-right {
    width: 100%;
    height: auto;
  }
  .main-slider-caption h3 {
    margin: 0;
  }
  .news-block .news:nth-child(2n) {
    padding-left: 0 !important;
  }
  .news-block .news:nth-child(2n+1) {
    padding-right: 0 !important;
  }
  .container .contact-footer {

    padding-left: 0 !important;
  }
  .testimonial-block.books-block .book .book-des p {
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .top-left-img {
    display: none
  }

  #navbar ul.nav.navbar-nav li a {
    font-size: 12px;
    padding: 0 20px;
  }
  .login-lst {
    width: auto !important;
    height: auto !important;
  }

  .navbar-nav > li > .dropdown-menu.login-dropdown {
    position: static;

  }

  .nav.navbar-nav {
    margin: 0 auto
  }
  .search-form {
    padding: 0
  }

  .fa-1 {
    top: 15% !important;
  }
  .form-group {
    margin-bottom: 6px;
  }

  .glyphicon.glyphicon-chevron-right {
    font-size: 20px;
    top: 6px;
  }
  .glyphicon.glyphicon-chevron-left {
    font-size: 20px;
    top: 6px;
  }
  .form-control.faculty-search {
    margin-bottom: 2px;
  }

  .testimonial-block .book {
    border-right: 0 !important;
  }
  .testimonial-block .row {
    border-bottom: 0 !important;
  }
  .new-nav {
    margin-top: 0 !important;

  }
  .main-content .main-content-wrapper {
    padding: 0 !important;
  }
  nav.navbar.navbar-default.main-nav {
    padding-left: 0 !important;
  }
  .news-area img {
    max-width: 80px;
    max-height: 80px;

  }
  .whitepapers-block {
    border-left: 0 !important;
  }
  .contact-footer div {
    margin-top: 10px
  }

  .right-sign-form .btn-right-signup {
    font-size: 13px !important;

  }
  .search-desktop {
    display: none !important;
  }
  .mobile-search {
    display: block !important;
  }
  #navbar > .navbar-nav > li {
    width: 100%
  }

  .home-page .books-block div.book:nth-child(2n) {
    padding-left: 0 !important;
  }
  .home-page .books-block div.book:nth-child(2n+1) {
    padding-right: 0 !important;
  }
  .main-content .slider {
    border-right: 0!important;
    padding-right: 0!important;

  }
  .container .whitepapers-block{margin-top: 10px; padding-left: 0!important;}
  .top-slider-wrapper.carousel.slide{padding: 0!important;}
  .event-block-left > h4 a{font-size: 21px}
  .event-content-area p{padding: 0!important;}
  .partners-symposia-logo {
    height: 50px!important;
  }
  .partners-symposia-block .partners-symposia-content1 {
    height: auto!important;
  }
  .partners-symposia-block .partners-symposia-content2 {
    height: auto!important;
  }
  .partners-symposia-block .partners-symposia-content3 {
    height: auto!important;
  }
  .partners-symposia-block .partners-symposia-content4 {
    height: auto!important;
  }

}

@media only screen and (max-width: 450px) {
  .faculty-header-middle > img {
    width: 100%;
  }
  .articles-des .block-des {
    padding-left: 15px !important;
  }
  .icu-block a.icu-download {
    font-size: 8px;
    bottom: 0;
    left: 0
  }
  .footer-nav-list a, .contact-footer a, .contact-footer p {
    font-size: 9px
  }
  .booth p {
    font-size: 9px;
    padding: 0 !important;
  }
}