@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin add-border($size, $color, $position){
@if $position=='all'{
border: $size solid $color;
}@else if $position=='top'{
  border-top: $size solid $color;
}
@else if $position=='bottom'{
  border-bottom: $size solid $color;
}
@else if $position=='left'{
  border-left: $size solid $color;
}
@else if $position=='right'{
  border-right: $size solid $color;
}
@else if $position=='right-left'{
  border-right: $size solid $color;
  border-left: $size solid $color;
}
@else if $position=='top-bottom'{
  border-bottom: $size solid $color;
  border-top: $size solid $color;
}
}