$base-color: #46494c;
$base-font-family: arial;
$base-font-size: 12px;
$base-background-color: #fff;
$base-line-height: 18px;
$base-link-color: #46494c;

/* color name */
$gold-color:#ffdd0e;
$darkred-color:#be1724;
$lime-color:#3baa35;
$blue-color: #1270b7;
$organge-color:#e9501c;
$limegreen-color:#067a39;
$darkblue-color: #489ad4;
$gray-color: #878786;
$dark-color: #c0c0c0;
$border-color: #c2c2c2;

