/*footer are */
.footer{margin-top: 25px}
.footer .container{
  background: #AFAFAF;
}
.footer .container h3, .footer .container p{color: #fff}
.footer-nav ul,.footer-nav div{padding: 0}
.footer-nav div.footer-nav-list{padding-left: 30px; padding-right: 30px;}
.footer-nav-title{border-bottom: 1px solid #e5e5e5; margin-top: 15px}
.footer-nav-title h3{margin-bottom: 5px; color: #fff}
.footer-nav-list ul{ margin-top: 10px; height: 140px; overflow: hidden}
.footer-nav-list a{ color: #fff}
.footer-social .container{padding-top: 20px}
.footer-social ul,.footer-social div{padding: 0}
.social-icon img{width: 100%}
.footer-social div.container {padding-left: 30px; padding-right: 30px;}
.footer-social div.container .row{border-top: 2px solid #e5e5e5}
.social-icon div {height: 70px}

.social-icon div{margin-bottom: 10px}
.social-left{margin-top: 20px}
.eamil-subcribe input{ border: 0;@include border-radius(0px);height: 36px;width: 100% ; font-size: 15px; text-align: center;}
.form-control::-moz-placeholder{ color: #000000}
.btn-subcribe{ border: 0;@include border-radius(0px); background:#919292; color: #fff; width: 100%;font-size: 15px;height: 36px;}

.container .contact-footer {
  margin-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.contact-footer p{
  margin-bottom: 0;
}
.copyright .container{padding: 0 30px}
.footer-copyright{text-align: center; padding: 15px; border-top: 2px solid #e5e5e5}
.footer-social h3{font-size: 17px}
.contact-footer p strong {
  font-size: 14px;
}
.newsletterForm{
  background: #efeeeb;
  height: 115px;
}
.form-group.eamil-subcribe {
  margin: 21px 10px;
}