.main_header {
  background: none repeat scroll 0 0 #939598;
  position: relative;
  margin-bottom: 10px;
}

.header_top {
  min-height: 80px;
  border-bottom: 3px solid #fff;
}

nav {
  margin: 0 auto;
  position: absolute;

  width: 1023px;
}

.search-form .form-group {
  width: 100%
}

.search-form input.form-control {
  height: 30px;
  border: 0;
}
.opensearch .btnsearch {
  background: url("../img/sprites.png") no-repeat scroll right -53px transparent;
}
.login-lst .form-inline{
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  width:40px;
  height:34px;
  @include border-radius(10px 10px 10px 10px);
  display:inline-block;
  float:left;
  position: relative;
}
.btnsearch {
  background: url("../img/sprites.png") no-repeat scroll right -143px rgba(0, 0, 0, 0);
  border: medium none;
  float: left;
  height: 34px;
  width: 30px;
  top:0;
  position: absolute;
  z-index:7;
  cursor: pointer;
}
.login-lst .opensearch{
  @include border-radius(10px 10px 10px 10px);
  background-color: white;
  width: 160px
}
.search-icon {
  cursor: pointer
}

.search-form {
  padding-right: 0
}
.txtsearch {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  height: 34px;
  left: 0;
  padding-left: 35px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.txtsearch {
  border: none;
  display: none;
  height: 34px;
}

.opensearch .txtsearch {
  display: inline-block !important;
}

.search-input {
  position: relative;
  float: left;
  width: 65%;
}

.fa-1 {
  font-size: 22px !important;
  position: absolute;
  right: 20px;
  top: 40%;
}

.user-login {
  width: 35%;
  float: right
}

.header_top-new {

  min-height: 105px;
}
