/* layout */
.content-area {
  padding-right: 0;
  padding-left: 0;
}

.main-content, {
  padding-right: 24px;
  padding-left: 0;
}

.main-content > div {
  padding-right: 0px;
  padding-left: 0px
}

.img-default img {
  width: 100%;
}

.main-content .top-middle {
  padding-left: 3px;
  padding-right: 0;
}

.movers-author {
  margin-top: 35px
}

ul.top-middle-lst {
  padding: 0;
  background: #e7e7e7
}

ul.top-middle-lst li {
  background: #dadada;
  margin-bottom: 2px;
  padding: 6px 17px;
  font-weight: bold;

}

ul.top-middle-lst li a {
  color: #46494c;
}

.form-srch {
  padding: 0;
  text-align: right;
}

.movers-author span {
  font-weight: bold;
  font-size: 10px
}

.movers-author .movers-testimonial {
  font-size: 19px;
  color: #939597;
  line-height: 25px;
  margin: 20px 0 40px;
}

ul.top-middle-lst li.imaging {
  @include add-border(4px, $gold-color, 'left');
}

ul.top-middle-lst li.icu {
  @include add-border(4px, $darkred-color, 'left');
}

ul.top-middle-lst li.admin {
  @include add-border(4px, $lime-color, 'left');
}

ul.top-middle-lst li.it {
  @include add-border(4px, $blue-color, 'left');
}

ul.top-middle-lst li.cardio {
  @include add-border(4px, $organge-color, 'left');
}

ul.top-middle-lst li.pharma {
  @include add-border(4px, $limegreen-color, 'left');
}

ul.top-middle-lst li.lab {
  @include add-border(4px, $darkblue-color, 'left');
}

ul.top-middle-lst li.journals {
  @include add-border(4px, $gray-color, 'left');
}

.right-sidebar {
  padding: 0
}

.top-sidebar-img > img {
  width: 100%;
}

.top-right-blocks article {
  margin-top: 10px;

}

.top-right-blocks article header h3 {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.top-right-blocks header {

  padding-top: 5px
}

.top-right-blocks .block-des {
  padding-bottom: 5px;
  padding-top: 5px;
}

.top-right-blocks p {
  margin-bottom: 0;
}

.top-right-blocks a {
  color: #46494c;
  font-weight: bold;
}

.books-block {
  margin: 15px 0;
  border-top: 1px solid #c2c2c2;

}

.books-block .block-des p {
  margin-bottom: 5px;
  line-height: 14px;
}

.books-block .block-des p span {
  font-size: 10px;
}

.book-des {
  padding-left: 3% !important;
}

.books-block div {
  padding: 0
}

.books-block div.book {
  padding-top: 15px
}

.home-page .books-block div.book:nth-child(odd) {
  padding-right: 10px;
}

.home-page .books-block div.book:nth-child(even) {
  padding-left: 10px;
}

.book-date p {
  padding-top: 5px
}

.testimonial-block .row {
  padding: 10px 0
}

.testimonial-block .book {
  border-right: 2px dotted #dedede;
}

.testimonial-block .book:nth-child(3n) {
  border-right: 0;
}

.book .block-des {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 5px;
}

.book .block-des:last-child {
  border-bottom: 0;
}

.block-des > p {
  margin-top: 5px;
  max-height: 100px;
  overflow: hidden;
}

.book-date p {
  font-weight: bold
}

.testimonial-block .book-date {
  font-size: 10px
}

.articles-block {
  background: #eeefee
}

.articles-block div {
  padding: 0
}

.articles-block .articles-header {
  width: 95%;
  padding-left: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}

.articles-block .articles-header h3 {
  margin-top: 10px;
  color: #575656;
  padding: 0;
  font-family: helvetica;
  font-size: 22px;
}

.articles-block .articles-des {
  padding-left: 10px
}

.channel-page .articles-block .articles-des {
  padding-left: 3px
}

.articles-block .article {
  padding-left: 15px;
  margin-bottom: 10px;
}

.container .img-author {
  padding-top: 5px;
}

.block-des p {
  margin-bottom: 10px;
  margin-top: 0;
}

.block-des a {
  color: #46494c;
  font-weight: bold;
}

#twitter-widget-0 {
  min-width: 100% !important;
}

.galleries-block div {
  padding: 0
}

.galleries-block {
  margin-top: 15px;
}

.galleries-block .gallery {
  position: relative;
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;

}

.galleries-block .gallery:nth-child(4n) {

}

.gallery img {
  width: 100%
}

.gallery-title {
  position: absolute;
  top: 11px;
  left: 5px;
  height: 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.gallery-des {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}

.gallery-des a {
  text-shadow: 1px 2px 7px rgba(150, 150, 150, 1);
  color: #fff;

}

.gallery .gallery-title.imaging {
  background: $gold-color;
}

.gallery .gallery-title.icu {
  background: $darkred-color;
}

.gallery .gallery-title.admin {
  background: $lime-color;
}

.gallery .gallery-title.it {
  background: $blue-color;
}

.gallery .gallery-title.cardio {
  background: $organge-color;
}

.gallery .gallery-title.pharma {
  background: $limegreen-color;
}

.gallery .gallery-title.lab {
  background: $darkblue-color;
}

.gallery .gallery-title.journals {
  background: $gray-color;
}

.gallery-title h4 {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 13px;
  font-weight: bold;
}

.testimonial-block {
  border-top: 1px solid #eeefee;
}

.testimonial-block.books-block .book:first-child {
  padding-left: 0px;
}

.testimonial-block.books-block .book {
  margin-bottom: 0;
  padding-left: 10px;
}

.testimonial-block.books-block .book .book-des p {
  font-size: 18px;
  line-height: 25px;
}

.slider img {
  width: 100%
}
.main-slider-wrapper .item iframe {
  width: 100%;
  height: 240px;
}

.col-md-12.col-sm-12.col-xs-12.slider {
  margin-bottom: 5px;
}

.carousel-control.right {
  background-image: none;
  margin-right: 10px;
}

.carousel-control.left {
  background-image: none;
  margin-left: 10px;
}

.carousel-indicators .active {
  height: 15px;
  width: 15px;
}

.carousel-indicators li {
  @include border-radius(0px);
  height: 15px;
  width: 15px;
  margin: 0;
}

.carousel-indicators {
  top: 10px;
  margin-left: 0;
  height: 50px;
  width: 50%;
}

.news-block div {
  padding: 0;
}

.news-block {
  padding: 15px 0;
  border-top: 1px solid #eeefee;
}

.news-area {
  margin-bottom: 10px;
}

.news-block .news {
  height: 220px;
  margin-bottom: 8px;
}

.news-block .news:nth-child(odd) {
  padding-right: 8px;
}

.news-block .news:nth-child(even) {
  padding-left: 8px;
}

.news-area h3 {
  font-size: 17px;
  font-weight: bold;
}

.news-area p {
  line-height: 15px;
}

.news-area p a {
  color: #a1a1a1;
}

header.imaging {
  background: $gold-color;
}

header.icu {
  background: $darkred-color;
}

header.admin {
  background: $lime-color;
}

header.it {
  background: $blue-color;
}

header.cardio {
  background: $organge-color;
}

header.pharma {
  background: $limegreen-color;
}

header.lab {
  background: $darkblue-color;
}

header.journals {
  background: $gray-color;
}

.news header {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%;
  text-transform: uppercase;
  padding-left: 7px;
}

.main-slider-caption {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: #fff !important;
}

.featuredJobs-slider header {
  text-align: center;
  border-bottom: 1px solid #eeefee;
}

.featuredJobs-slider h3 {
  text-align: center;
  margin-bottom: 0;
  padding: 8px 0 3px;
  font-size: 20px;
  font-weight: bold;
}

.featuredJobs-slider {
  background: none repeat scroll 0 0 white;

}

.featuredJobs-slider > div {
  -webkit-box-shadow: 2px 6px 12px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 2px 6px 12px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 6px 12px -2px rgba(0, 0, 0, 0.27);
  height: 272px;
  background: #fff;
}

.featuredJobs-slider .carousel-control.right {
  right: 15px
}

.featuredJobs-slider .carousel-control.left {
  left: 15px
}

.featuredJobs-slider .carousel-indicators {
  padding-right: 15px
}

.featJob {
  text-align: center;
}

.img-polaroid {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
  width: 135px;
  height: 54px;
}

.featJob a img {
  margin: 0 0 20px;
}

.carousel-control {
  background: none repeat scroll 0 0 #222;
  border: 3px solid #fff;
  @include border-radius(23px);
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  height: 40px;
  left: 0;
  line-height: 30px;
  margin-top: -20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 40px;
}

#featureJobSlider {
  min-height: 150px;
  margin-top: 15px;
}

.featJob p {
  margin: 0 0 22px;
  font-size: 18px;
}

.fjCom a {
  color: #e27b00;
  font-size: 20px;
  font-weight: bold;
}

.fjPosi a {
  color: #46494c;
  font-size: 20px;
  font-weight: bold;
}

#featureJobSlider .carousel-indicators li {
  background-color: rgba(155, 155, 155, 0.25);
  @include border-radius(0px);
  cursor: pointer;
  height: 22px;
  width: 22px;
}

#featureJobSlider .carousel-indicators li.active {
  background-color: rgba(105, 105, 105, 0.5);
}

#featureJobSlider .carousel-indicators {
  top: 0;
  text-align: right;
}

.book .img-default {
  max-width: 127px;
  max-height: 167px;
}

.article .img-author img {
  width: 35px;
  height: 41px;
  border: 1px solid #fff
}

.articles-des .block-des p {
  margin-bottom: 0px
}

#main-slider img {
  height: 240px !important;
}

.front-overlay-arrows {
  height: 0;
  left: 0;
  position: fixed;
  top: 50%;
  width: 100%;
}

.container .whitepapers-block {
  padding-right: 0;
}

.front-arrow-wrapper {
  margin: 0 auto;
  position: relative;
}

.front-arrow-wrapper a {
  min-width: 100px;
}

#cards-prev-link {
  float: left;
  background: url("../img/mysprites.png") no-repeat scroll -32px -192px;
  height: 40px;
}

#cards-next-link, #cards-prev-link {
  position: relative;
}

#cards-next-link {
  float: right;
  text-align: right;
  background: url("../img/mysprites.png") no-repeat scroll 72px -389px rgba(0, 0, 0, 0);
  float: right;
  height: 40px;
  text-align: right;

}

.front-arrow-wrapper a:hover, .front-arrow-wrapper a:active, .front-arrow-wrapper a {
  text-decoration: none
}

.front-arrow-label {
  height: 40px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 0px;
  width: 100px;
  color: #fff;
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: #939598;
}

#cards-next-link .front-arrow-label {

}

.front-arrow-label.imaging {
  background: $gold-color;
}

.front-arrow-label.icu {
  background: $darkred-color;
}

.front-arrow-label.admin {
  background: $lime-color;
}

.front-arrow-label.it {
  background: $blue-color;
}

.front-arrow-label.cardio {
  background: $organge-color;
}

.front-arrow-label.pharma {
  background: $limegreen-color;
}

.front-arrow-label.lab {
  background: $darkblue-color;
}

.front-arrow-label.journals {
  background: $gray-color;
}

.event-header div {
  padding: 0;
}

.event-header p, .event-header h1, .event-header h2, .event-header h3, .event-header h4 {
  padding: 0;
  margin: 0;
}

.event-header-left {
  height: 30px;
  line-height: 30px;
}

.event-content div {
  padding: 0
}

.event-content p, .event-content h1, .event-content h2, .event-content h3, .event-content h4 {
  padding: 0;
  margin: 0;
}

.col-md-8.col-sm-8.col-xs-8.event-block-left > h3 {
  padding-top: 10px
}

.event-block-left a {
  color: $base-color;
}

.event-block {
  border-top: 1px solid #ccc;
}

.event-block-right {
  line-height: 120px;
}

.event-header-right {
  line-height: 30px;
}

.event-header > h4 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.event-header-middle {
  text-align: center;
}

.event-block-left > h4 {
  margin-top: 10px;
  font-size: 21px;
}

.event-block-left p {
  font-size: 14px
}

.event-Slider {
  background: #edeeed
}

.event-Slider-left {
  text-align: right;
}

.event-Slider-left > img {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 60px;
  width: 100%;
}

.event-Slider .event-Slider-content {
  padding-left: 30px;
  padding-right: 45px;
}

.event-Slider .event-Slider-content p {
  font-size: 11px;
}

.event-Slider .event-Slider-content a {
  color: #46494c;
}

.faculty-searchform {
  position: relative
}

.form-control.faculty-search {
  background: #ebe9e7;
  width: 90%;
  height: 28px;
  float: right;
  @include border-radius(5px);
  padding-right: 45px;
}

.faculty-header-middle ul.event-menu-lst {
  margin-left: 0;
  margin-top: 10px;
}

.form-control.faculty-btn {
  @include border-radius(0 5px 5px 0);
  background: url("../img/sprites.png") no-repeat scroll -260px -55px #f8f6f5;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  height: 28px;

}

.faculty-header-right {
  margin-top: 4px;
  padding: 0;
  text-align: right;
}

.faculty-header-right .fa-1 {
  cursor: pointer;
  font-size: 17px !important;
  position: absolute;
  right: 10px;
  top: 7px;
}

.faculty-form-w {
  padding-bottom: 2px;
  padding-right: 2px;
  padding-top: 2px;
}

.faculty-header-left a {
  line-height: 40px;
  color: $base-color;
}

.faculty-header-left a:first-child {
  margin-right: 20px;
}

.alphalbet-search {
  height: 30px;
  margin: 0;
  padding: 0;
}

.alphalbet-search li {
  background: none repeat scroll 0 0 #cdc9c7;
  border-left: 1px solid #fff;
  @include border-radius(3px);
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.alphalbet-search li a {
  color: $base-color;
}

.alphalbet-search li:first-child {
  padding-left: 0;
  border-left: 0;

}

.alphalbet-search li:first-child a {
  padding-left: 7px;
}

.faculty-content {
  background: none repeat scroll 0 0 #f0eeec;
}

.faculty-main-content-w div {
  padding: 0
}

.faculty-block {
  background: #fff;
  height: 100px;
}

.faculty-block > img {
  height: 100px;
  padding: 5px;
  width: 80px;
}

.col-xs-9.faculty-block {
  padding-left: 5px;
}

.faculty-main-content:nth-child(odd) {
  border-right: 10px solid #F0EEEC
}

.faculty-main-content {
  border-bottom: 10px solid #F0EEEC
}

.faculty-main-content:nth-child(even) {

}

.movers-block div {
  padding: 0
}

.movers-block img {
  padding-right: 5px;
}

.movers-block {
  border-bottom: 1px dashed;
}

.movers-block.last {
  border-bottom: 0
}

.movers-block div {
  padding: 10px 0;
}

.library-content div {
  padding: 0
}

.library-left-block > img {
  width: 100%;
  padding: 0 45px;
}

.library-content h4 {
  padding-left: 45px
}

.library-left-block {
  margin-bottom: 30px;
}

.library-content-left {
  border-right: 1px solid #ccc;
}

.library-content {
  border-bottom: 1px solid #ccc;
}

.issue-top-left {
  text-align: right;
  padding: 0;
}

.issue-top-left img {
  width: 100%;
  padding-left: 65px;
}

.issue-top-block {
  background: none repeat scroll 0 0 #acacac;
}

.menu-link img {
  height: 20px
}

.news-area .news-content {
  max-height: 100px;
  overflow: hidden;
}

.alphalbet-form > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-link img:first-child {
  margin-left: 10px;
}

.next-pre-link .menu-link img {
  margin-right: 10px;
}

.next-page-link .menu-link img {
  height: 20px;
  margin-right: 10px;
}

ul.event-menu-lst {
  height: 20px;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0

}

ul.event-menu-lst li {
  float: left;
  line-height: 20px;
}

.event-menu-lst > li.current {
  background: none repeat scroll 0 0 #efefef;
  @include border-radius(5px 5px 0 0);
}

ul.event-menu-lst li a {
  padding-left: 5px;
  padding-right: 5px;
}

.event-block-right img {

  margin: 10px 0;
}

.event-menu-lst img {
  width: 20px;
}

.event-Slider-title {
  border-top: 1px solid #fff;
}

.issue-content {
  margin-top: 15px;
  border-top: 1px solid #949494;
}

.event-rigth-block h4, .event-left-block h4 {
  font-weight: bold
}

.booth p {
  font-size: 9px;

  padding: 0 !important;
}

.issue-content h3.cover {
  color: #949494;
  padding: 10px 0;
  font-weight: bold;
}

.issue-top-right {
  margin-top: 7%;
}

.issue-top-right h1 {
  color: #fff;

}

.issue-top-right a {
  color: #fff;

}

.issue-top-right h1:nth-child(even) {
  font-weight: bold;
}

.issue-top-right span {
  font-size: 12px;
}

.issue-content div {
  padding: 0
}

.issue-content-left .issue-img {
  margin-bottom: 0;
}

.issue-content-left {
  text-align: right;
}

.issue-content .issue-content-right {
  padding-left: 10px;
}

.issue-content-top-block {
  margin-bottom: 45px;
}

.issue-content-left p {
  margin-bottom: 0;
  font-size: 9px;
  font-weight: bold;
}

.issue-img-top {
  margin-top: 50px;
}

.issue-img-bottom {
  margin-top: 115px;
}

.issue-content-bottom-block > p {
  margin-bottom: 5px;
}

.icu-library-content div {
  padding: 0
}

.icu-library-content p {
  margin-bottom: 0
}

.icu-left-block > img {
  padding: 0 10px 5px;
  width: 100%;
}

.icu-library-content .icu-block:nth-child(odd) {
  border-left: 8px solid #fff;
}

.icu-library-content .icu-block:nth-child(even) {
  border-right: 8px solid #fff;
}

.icu-library-content .icu-block {
  background: none repeat scroll 0 0 #dddddb;
  margin-bottom: 40px;
  position: relative;
  padding: 10px 0;
}

a.icu-download {
  background: none repeat scroll 0 0 #464646;
  bottom: 15px;
  color: #fff;
  font-weight: bold;
  padding: 2px 6px;
  position: absolute;
  right: 5px;
  width: 50%;
  text-transform: uppercase;
}

.icu-right-block {
  max-height: 180px;
  overflow: hidden;
}

.icu-library-title {
  font-weight: bold;
  padding: 10px 0 10px 10px;
  font-size: 16px;
}

#topslider img {
  width: 100%;
  height: 250px;
}

.img-banner {
  text-align: center;
}

.main-content .morvers-block {
  border-left: 1px solid #c2c2c2;
  padding-left: 18px;
}

.main-content .slider {
  padding-right: 15px;
  padding-left: 0px;
  border-right: 1px solid #c2c2c2;
}

.cn-img-banner img {
  width: 100%
}

.channel-imaging {
  background: $gold-color;

}

.channel-imaging .left-sidebar, .channel-imaging .left-sidebar a {
  color: $base-color;
}

.left-sidebar, .left-sidebar a {
  color: #fff;
}

.channel-icu {
  background: $darkred-color;
}

.channel-admin {
  background: $lime-color;
}

.channel-it {
  background: $blue-color;
}

.channel-cardio {
  background: $organge-color;
}

.channel-pharma {
  background: $limegreen-color;
}

.channel-lab {
  background: $darkblue-color;
}

.channel-journals {
  background: $gray-color;
}

.issue-right-sidebar {
  background: #71716f
}

.left-sidebar {
  padding-left: 0;
}

.left-sidebar p {
  margin: 0;
}

.channel-page .main-content {
  padding-right: 0
}

.main-content .main-content-wrapper {
  padding: 0 24px 0 30px;
  background: #fff
}

.main-content-wrapper div {
  padding-left: 0;
  padding-right: 0;
}

.testimonial-block .row {
  border-bottom: 1px solid #c2c2c2;
}

.right-sign-up {
  height: 80px;
  background: #efeeeb;
  margin-bottom: 15px;
}

.form-group.right-sign-form {
  margin-top: 25px;
}

.channel-slider {
  padding-bottom: 15px;
  border-bottom: 1px solid #c2c2c2;
}

.channel-slider .slider {
  margin-bottom: 15px;
}

.channel-page .testimonial-block div {
  padding: 0;
}

.channel-page .testimonial-block div.row {
  padding: 10px 0;
  margin: 10px 0;
}

.testimonial {
  border-right: 2px dotted #dedede;
  max-height: 280px;
  overflow: hidden;
}

.channel-page .testimonial:nth-child(odd) {
  padding-right: 25px;
}

.channel-page .testimonial:nth-child(even) {
  padding-left: 25px;
  border-right: 0;
}

.channel-page .testimonial-block .testimonial-desc {
  padding-left: 5px;
}

.home-page .testimonial:nth-child(3n) {
  border-right: 0 none;
}

.home-page .testimonial {
  padding-left: 10px;
}

.home-page .testimonial:nth-child(3n+1) {
  padding-left: 0;
  padding-right: 10px;
}

.home-page .testimonial-desc {
  padding-left: 5px
}

.testimonial-block .testimonial p {
  color: #888d91;
  font-size: 18px;
  line-height: 25px;
}

.testimonial-block .testimonial .testimonial-author p {
  font-size: 10px;
  font-weight: bold;
  color: $base-color;

}

.channel-page .testimonial-block .book:nth-child(even) {
  border: 0;
}

.channel-page .book .block-des {
  margin-left: 10px;
}

.channel-page .articles-block .articles-des {
  height: 100px;
  overflow: hidden;
}

.right-sign-form {
  padding: 0 15px;
}

.right-sign-form input {
  @include border-radius(0);
  border: 0;
}

.right-sign-form .txt-right-signup {
  width: 75%;
  height: 36px;
  float: left
}

.right-sign-form .btn-right-signup {
  width: 25%;
  height: 36px;
  float: left;
  background: #b7092d;
  color: #fff
}

.gallery-des p, .gallery-des a {
  font-size: 16px
}

.issue-right-content {
  padding-left: 20px;
  padding-right: 0;
  color: #fff;
  margin-top: 35px
}

.issuenews-author > p {
  margin-top: 10px;
}

.issuenews-content {
  margin-top: 30px
}

ul.social-lst {
  padding: 0;
}

ul.social-lst li {
  float: left;
  margin-right: 10px;

}

ul.social-lst li a {
  padding-left: 20px;
}

ul.social-lst li.social-facebook {
  background: url("../img/mysprites.png") no-repeat 5px top;
}

ul.social-lst li.social-tweet {
  background: url("../img/mysprites.png") no-repeat left -25px;
}

ul.social-lst li.social-in {
  background: url("../img/mysprites.png") no-repeat left -50px;
}

ul.social-lst li.google-social {
  background: url("../img/mysprites.png") no-repeat left -75px;
}

ul.social-lst li.digg-social {
  background: url("../img/mysprites.png") no-repeat left -103px;
}

ul.social-lst li.digg-social a {
  padding-left: 30px;
}

ul.social-lst li.delicious-socila {
  background: url("../img/mysprites.png") no-repeat left -130px;
}

ul.social-lst li.delicious-socila a {
  padding-left: 25px;
}

ul.social-lst li.emailtofriend {
  background: url("../img/mysprites.png") no-repeat left -157px;
}

.top-social {
  padding: 10px 0
}

.newsissue-page {
  margin: 10px 0
}

.newsissue-page h3 span {
  color: #9d9d9c
}

img.banner {
  margin: 15px 0 30px;
}

.issue-slider-wrapper {
  padding: 0;
  text-align: center;
  margin-bottom: 15px;
  background: #eeefee;
}

.issue-slider-block {
  margin-left: 20%;
  padding: 10px 0;
}

.issue-slider-prev {
  position: absolute;
  left: 20px;
  top: 40%;
  background: url("../img/mysprites.png") no-repeat scroll 3px -437px rgba(0, 0, 0, 0);
  width: 20px;
  font-size: 0;
}

.issue-slider-next {
  position: absolute;
  right: 20px;
  top: 40%;
  background: url("../img/mysprites.png") no-repeat scroll 7px -460px rgba(0, 0, 0, 0);
  width: 20px;
  font-size: 0;
}

.issue-table-content {
  background: #eeefee;
  margin: 10px 0 20px;
}

.issue-table-content, .issue-table-content ul {
  padding: 0
}

.issue-table-content h3.issue-header {
  margin: 0;
  padding: 10px 0 15px;
  background: #939698;
  color: #fff;
  padding-left: 15px
}

.issue-table-content .issue-table-lst {
  margin-top: 20px;
}

.issue-table-content .issue-table-lst ul {
  margin-bottom: 30px;
  background: #cbcbcb;
}

.issue-table-content .issue-table-lst li {
  padding: 7px 0 7px 15px;
  background: #EEEFEE;
  margin-bottom: 1px
}

.issue-table-content .issue-table-lst h4 {
  border-bottom: 2px solid #cbcbcb;
  margin: 0;
  padding-bottom: 15px;
  padding-left: 15px;
}

.channel-content > h4 {
  font-size: 14px;
  margin: 0;
}

.event-Slider-content > h4 {
  padding: 8px 0;
}

.articles-title {
  font-size: 14px;
}

.even-gallery-author .gallery-author {
  margin-top: 15px;
}

.even-gallery-author {
  margin-top: 75px
}

.main-content .even-gallery-content {
  padding-left: 20px;
  margin-top: 10px
}

.even-gallery-content div {
  padding: 0
}

.even-gallery-content p {
  margin: 5px 0
}

.even-gallery-info {
  border-bottom: 1px dashed #ccc;
}

.venue p {
  padding-top: 22px;
}

ul.light-box li img {
  cursor: pointer;
  width: 165px;
  height: 165px
}

ul.light-box li {
  padding: 0 10px 0 0;
  margin-bottom: 10px;
}

ul.light-box {
  margin-top: 15px
}

.modal-body {
  padding: 5px !important;
}

.modal-content {
  border-radius: 0;
}

.modal-dialog img {
  text-align: center;
  margin: 15px auto;
}

.controls {
  width: 40px;
  display: block;
  font-size: 11px;
  padding-top: 8px;
  font-weight: bold;
  height: 40px;
}

.controls.next {
  position: absolute;
  top: 50%;
  right: 0;
  text-align: right;
}

.controls.previous {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: right;
}

.modal-dialog {
  max-width: 500px;
  padding-top: 90px;
}

.total-img {
  text-align: center;
}

.channel-slider .slider {
  padding: 0
}

.right-sidebar-blog div {
  padding: 0
}

.right-blog-img img {
  width: 100%;
  padding-right: 10px;
}

.p-title {
  font-size: 13px;
  font-weight: bold
}

.whitepapers-block {

}

.testimonial-img img {
  float: left;
  margin-right: 8px
}

.right-sidebar-blog-wrapper {
  margin-bottom: 15px;
}

.right-sidebar-blog {
  margin-top: 15px;
}

.right-sidebar-blog > h2 {
  margin-bottom: 10px;
}

.top-right-blocks-content {
  margin: 10px 0;
}

.top-right-blocks-content p a {
  color: #a1a1a1;
  font-weight: normal;
}

.top-right-blocks-img {
  margin-bottom: 15px;
}

.book-date > h4 {
  margin-bottom: 10px;
}

.contact-footer h3, .social-left h3 {
  margin-bottom: 10px
}

.mobile-search {
  display: none
}

.mews-issue-page {
  background: none repeat scroll 0 0 #71716f;
}

.issue-left-content {
  color: #fff;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 0;
}

.movers-right-block {
  font-size: 14px
}

.top-slider-wrapper.carousel.slide {
  padding-right: 5px;
}

.img-banner {
  margin-top: 5px;
}

.block-des p a {
  color: #a1a1a1;
  font-weight: normal;
}

.whitepapers-block > h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.whitepaper {
  margin-bottom: 5px;
}

.whitepaper > p {
  line-height: 16px;
}

.whitepaper a {
  color: #a1a1a1;
}

.books-block-slider {
  margin: 20px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.container .channel-book-slider-desc {
  padding-left: 5px
}

#channelBookSlider {
  margin: 10px 0
}

#channelBookSlider h4 {
  margin-bottom: 5px
}

.book-Slider-title {
  font-weight: bold
}
.right-blog-content p a{color: #a1a1a1}

.book-Slider-content span {
  font-size: 10px
}

.book-Slider-content {
  margin-bottom: 5px;
  border-bottom: 1px solid $border-color
}

.books-block-slider {
  position: relative
}

.book-arrow-prev {
  position: absolute;
  left: 0;
  top: 40%;
  background: url("../img/mysprites.png") no-repeat left -490px;
  height: 50px;
  width: 30px;
  font-size: 0;
  z-index: 99999;
}

.book-arrow-next {
  position: absolute;
  right: 0;
  top: 40%;
  background: url("../img/mysprites.png") no-repeat left -540px;
  height: 50px;
  width: 30px;
  font-size: 0;
  z-index: 99999;
}

.ourJounals-block {
  background: #EEEFEE
}

.ourJounals-block h3 {
  margin: 10px 0 20px;
}

.ourJounals-block p a {
  color: #a1a1a1;
}

.ourJounals-block .article {
  margin-bottom: 5px;
  padding: 0 8px
}

.channel-page .news {
  height: auto
}

.pagination {
  text-align: right
}

.pagination ul {
  padding: 0;
  margin: 0;
  float: right
}

.pagination ul li {
  float: left;
  padding: 0 5px;
  text-transform: uppercase
}

.left-sidebar .channel-content .p-title {
  margin-top: 20px
}

.left-sidebar .channel-content ul {
  padding: 0;
  margin: 15px 0 0 0
}

.left-sidebar .channel-content ul li {
  margin: 10px 0 0 0
}

.blogs-title {
  font-size: 19px;
  float: right;
  padding: 0;
  font-weight: bold;
  color: #585858;
  margin-bottom: -12px;
}

.blogs .movers-left-block {
  padding-right: 10px;
}

.blogs .movers-left-block img {
  margin-bottom: 3px;
  width: 100%;
}

.blogdetail .movers-left-block .avatar img {
  width: 83%;
}

.blogs .movers-left-block span {
  font-size: 10px;
  color: #231F20;
  display: block;
  line-height: 12px;
}

.blogs .movers-right-block h2 {
  font-size: 21px;
  color: #231F20;
  font-weight: bold
}

.blogs .movers-right-block h2 a {
  color: #231F20;
}

.blogs .movers-right-block {
  line-height: 24px;
}

.blogs .movers-right-block p a {
  color: #939597;
  font-weight: bold
}

.movers-block div {
  padding: 22px 0 5px;
}

.paging {
  text-align: right;
  padding-top: 200px;
  padding-bottom: 18px;
}

.paging a {
  padding: 0 3px;
  color: #585858;
  font-size: 12px
}

.paging a.next {
  padding-right: 0
}

.faculty-channel-lst ul.event-menu-lst {
  margin: 10px 0 0
}

.faculty-header-left a.active {
  background: #939597;
  padding: 10px;
  color: #fff
}

.event-header {
  margin-bottom: 15px;
}

.faculty-block h4 {
  margin-top: 5px
}

.pagination.pagination-event {
  margin-top: 60px !important;
  margin-bottom: 40px
}

.movers-3col .left-sidebar, .movers-3col .left-sidebar a {
  color: $base-color
}

.movers-author p {
  line-height: 12px
}

.content-body p {
  font-size: 14px
}

.event-info div {
  padding: 0
}

.event-info .event-rigth-block {

  padding-left: 20px;
}

.event-info p {
  font-size: 14px
}

.event-info .event-left-block {
  border-right: 1px dotted $border-color;
  padding-right: 20px;
}

.event-info .gallery-info-right, .event-info .gallery-info-left {
  padding: 12px 0;
}

.even-gallery-info.last {
  border: 0
}

.event-rigth-block h4 {
  margin-bottom: 15px
}

ul.event-tab {
  padding: 0;
  margin-bottom: 0
}

ul.event-tab li {
  float: left;
  padding: 5px 22px
}

ul.event-tab li.current {
  background: #939597;
}

ul.event-tab li a {
  font-size: 14px
}

ul.event-tab li.current a {
  color: #fff;
}

.event-header-title {
  margin: 55px 0
}

.event-info {
  margin: 15px 0 30px;
}

.main-content .event-slider .slider {
  border-right: 0;
}

.event-slider {
  border-top: 1px solid $border-color
}

.event-slider .slider {
  padding-top: 20px;
  padding-right: 0
}

.event-slider #main-slider img {
  height: 295px !important;
}

.notespeakers {
  background: #DADAD9;
  margin: 15px 0
}

.notespeakers h3 {
  padding: 5px 10px
}

.event-partners-symposia h4.partners-symposia-title {
  margin: 10px 0 60px
}

.event-partners-symposia {
  margin: 10px 0;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  padding-bottom: 25px
}

.event-partners-symposia div {
  padding: 0
}

.partners-symposia-block p.gray-color-large {
  font-size: 19px;
  color: #939597;
}

.gray-color {
  color: #939597;
  margin-top: 5px;
}

.partners-symposia-logo {
  height: 100px;
  overflow: hidden
}

.partners-symposia-block {
  border-right: 1px solid $border-color
}

.partners-symposia-block > div {
  padding: 0 10px
}

.partners-symposia-block .partners-symposia-content1 {
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
  height: 100px;
  overflow: hidden;
}

.partners-symposia-block p {
  font-size: 14px
}

.partners-symposia-block .partners-symposia-content2 {
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
  height: 60px;
  overflow: hidden;

}

.partners-symposia-block .partners-symposia-content3 {
  border-bottom: 1px solid $border-color;
  margin-bottom: 15px;
  height: 80px;
  overflow: hidden
}

.partners-symposia-block .partners-symposia-content4 {
  overflow: hidden
}

.partners-symposia-block:last-child {
  border: 0
}

.partners-symposia-block span {
  font-size: 12px;
}

.channel-content-area p {
  font-size: 14px;
  line-height: 24px;
  margin: 18px 0;
}

.featuredJobs-slider.event2-featuredJobs-slider {
  padding: 0 !important;
}

.partners-exhibiting div {
  padding: 0
}

.partners-exhibiting-title {
  margin: 5px 0 30px
}

.booth {
  background: #DADAD9;
  height: 20px;
  margin-top: 20px
}

.partners-exhibiting-logo {
  text-align: center;
  height: 50px;
}

.event-content-area {
  padding-top: 20px;
  border-top: 1px solid $border-color
}

.event-content-area p {
  font-size: 14px;
  line-height: 20px;
  padding-right: 40px;
}

.partners-exhibiting-block {
  border-right: 2px solid #DADAD9
}

.booth p {
  line-height: 20px;
  font-weight: bold;
  padding-left: 5px;
}

.partners-exhibiting {
  margin-bottom: 20px
}

.blogdetail .movers-right-block h2 {
  font-size: 39px;
  color: #231F20;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 35px;
}

.blogdetail .movers-right-block {
  line-height: 20px;
}

.blogdetail .movers-left-block .list {
  padding-top: 40px;
  padding-bottom: 60px;
}

.blogdetail .movers-left-block .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #231F20;
  line-height: 20px;
}

.blogdetail .content {
  padding: 0
}

.blogdetail .content p {
  padding: 10px 0
}

.blogdetail .content img {
  max-width: 100%;
  margin: 10px 0
}

.blogdetail .movers-block {
  border-bottom: 0
}

.blogdetail .paging {
  padding-top: 60px
}

.blogdetail .movers-left-block {
  padding-right: 55px;
}

.blogdetail .avatar {
  padding: 0
}

.blogdetail .text1 {
  font-size: 19px;
  font-weight: bold;
  color: #888d91;
  line-height: 24px;
}

.blogdetail .listpost {
  padding: 0
}

.blogdetail .listpost ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

.blogdetail .listpost h2 {
  font-size: 14px;
  font-weight: bold;
  color: #231F20;
  text-transform: uppercase;
  margin-bottom: 5px
}

.blogdetail .listpost h3 a {
  font-weight: bold;
  color: #231F20;
  font-size: 12px
}

.blogdetail .listpost h3 {
  line-height: 11px;
  margin-bottom: 1px
}

.blogdetail .listpost ul p {
  color: #404041;
  font-size: 12px;
}

.blogdetail .listpost ul li {
  margin-bottom: 14px;
}

.products .colL .content {
  background: #bcbec0;
  padding: 20px 12px
}

.products .colL {
  padding-right: 15px;
}

.products .colR {
  padding-left: 15px;
}

.products .colL h2 {
  font-size: 19px;
  color: #404041;
  font-weight: bold;
  margin-bottom: 20px
}

.bycate {
  padding-top: 4px;
}

.bycate a {
  font-size: 14px;
  color: #585858;
  padding: 5px 10px;
  font-weight: bold;
}

.bycate a.active {
  color: #fff;
  background: #888e91;
}

.directory .colors a {
  background: url(../img/block-color-lst.png) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px 4px;
}

.directory .colors a.color2 {
  background-position: -30px 0px
}

.directory .colors a.color3 {
  background-position: -60px 0px
}

.directory .colors a.color4 {
  background-position: -94px 0px
}

.directory .colors a.color5 {
  background-position: -130px 0px
}

.directory .colors a.color6 {
  background-position: -164px 0px
}

.directory .colors a.color7 {
  background-position: -197px 0px
}

.directory {
  padding: 10px 0;
}

.directory h1, .directory .colors {
  float: left
}

.directory h1 {
  font-size: 21px;
  color: #585858;
  font-weight: bold;
  line-height: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.abcd label {
  font-size: 19px;
  color: #585858;
  font-weight: bold
}

.abcd {
  padding-top: 15px
}

.abcd p {
  font-size: 14px;
  color: #585858;
  font-weight: bold;
  margin-top: 2px
}

.abcd p a {
  color: #585858
}

.pagingtop {
  padding-top: 15px;
  margin-top: 25px;
  text-align: left;
  border-top: 1px solid #c6c8ca;
  padding-bottom: 2px;
}

.pagingtop a {
  font-size: 14px
}

.pagingtop label {
  float: right;
  font-weight: bold;
  font-size: 18px
}

.products .listproduct {
  padding: 0;
  margin: 0 -6px
}

.products .listproduct li {
  padding: 4px 6px;
}

.products .listproduct li img {
  width: 100%;
  margin-bottom: 2px;
}

.products .listproduct li .des {
  color: #404041;
  font-weight: bold;
  line-height: 16px;
  display: block;
  overflow: hidden;
  height: 48px;
}

.products .paging {
  padding-top: 25px
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 12px;
  position: relative;
  font-weight: bold;
}

#cssmenu a {
  line-height: 1.3;
}

#cssmenu > ul > li > a {
  font-size: 12px;
  display: block;
  color: #404041;
  border-top: none;
}

#cssmenu > ul > li > a > span {
  display: block;
  padding: 0px 0px 0px 14px;
}

#cssmenu > ul > li > a:hover {
  text-decoration: none;
}

#cssmenu > ul > li.active {
  border-bottom: none;
}

#cssmenu > ul > li.has-sub > a span {
  background: url(../img/mysprites.png) left -599px no-repeat;
}

#cssmenu > ul > li.has-sub.active > a span {
  background: url(../img/mysprites.png) left -614px no-repeat;
}

/* Sub menu */
#cssmenu ul ul {
  display: none;
}

#cssmenu ul ul li {
  padding: 0 0 0 14px;
}

#cssmenu ul ul li:last-child {
  border-bottom: none;
}

#cssmenu ul ul a {
  display: block;
  color: #404041;
  font-size: 12px;
}

body.channel-poup {
  background: #F5F5F5
}

.channel-poup .content-area {
  margin-top: 25px
}

.channel-poup .container {
  width: 960px
}

.channel-content-area img {
  margin: 15px 0
}

.poup-bottom-content div {
  padding: 0
}

.poup-bottom-content {
  border-top: 1px solid $border-color;
  padding-top: 20px;
}

.channel-content-area .poup-bottom-content p {
  margin: 0;
  font-size: 12px;
  line-height: 17px
}

.poup-bottom-block:first-child {
  border-right: 1px solid $border-color;
  padding-right: 25px;
}

.poup-bottom-block:last-child {

  padding-left: 25px;
}

.poup-content-block {
  margin-bottom: 15px
}

.poup-content-block p a {
  color: $gray-color
}

.directories {
  padding-top: 10px
}

.directories .wraplist {
  border-top: 1px solid #c6c8ca;
  padding-top: 15px;
  margin-top: 15px
}

.directories .wraplist ul {
  padding: 0
}

.directories .wraplist ul li {
  padding-left: 0;
  padding-right: 30px;
  padding-bottom: 10px
}

.directories .wraplist ul li > a {
  float: right;
  width: 23%;
  padding-left: 4px
}

.directories .wraplist ul li div {
  float: left;
  width: 77%;
  background: #d1d2d4;
  padding: 0 10px
}

.directories .wraplist ul li div a {
  font-weight: bold;
  font-size: 14px
}

.directories .wraplist ul li div a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  max-height: 34px;
  overflow: hidden;
}

.directories .paging {
  padding-top: 25px;
  padding-bottom: 45px;
}

.directories .wraplist ul li div a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  max-height: 34px;
  overflow: hidden;
  color: #585858
}

.directories .paging {
  padding-top: 25px;
  padding-bottom: 45px;
}

.directories2 .abcd label {
  font-size: 18px
}

.directories2 .abcd {
  border-top: 1px solid #c6c8ca;
  margin-top: -3px;
  padding-top: 20px;
}

.directories2 .wraplist ul {
  padding: 0;
  margin-left: -15px
}

.directories2 .wraplist ul li {
  margin-bottom: 10px
}

@media (max-width: 767px) {
  .directories2 .wraplist ul li:nth-child(2n + 1) div {
    background-color: #d1d2d4
  }
}

@media (min-width: 768px) {
  .directories2 .wraplist ul li:nth-child(4n + 1) div {
    background-color: #d1d2d4
  }
  .directories2 .wraplist ul li:nth-child(4n + 2) div {
    background-color: #d1d2d4
  }
}

.directories2 .wraplist ul li div a {
  font-size: 14px;
  color: #585858;
  font-weight: bold;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  display: block
}

.directories2 .wraplist ul li div {
  padding: 10px 22px 10px 50px;
  background: url(../img/mysprites.png) 10px -632px no-repeat;
  min-height: 39px
}

.directories2 .paging {
  padding-top: 25px;
  padding-bottom: 39px;
}

.newsletters .movers-left-block {
  padding-top: 0
}

.newsletters .movers-left-block .content {
  background: #ffdf5e;
  padding: 18px 20px
}

.newsletters .movers-left-block {
  padding-right: 30px;
}

.newsletters .movers-left-block .list {
  padding-top: 0px;
  padding-bottom: 20px;
}

.newsletters .list h2 {
  font-size: 14px;
  font-weight: bold;
  color: #231F20;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.newsletters .list ul li a {
  font-weight: bold;
  color: #231F20;
}

.newsletters .movers-right-block {
  padding-top: 0;
}

.newsletters .movers-right-block .content {
  padding-right: 35px;
}

.newsletters .movers-right-block .content ul {
  padding: 0
}

.newsletters .movers-right-block .content ul li {
  border-bottom: 3px solid #ffdf5e;
  padding: 12px 0 7px;
}

.newsletters .movers-right-block .content ul li h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: normal
}

.newsletters .movers-right-block .content ul li h2 a {
  color: #585858
}

.newsletters .movers-right-block .content ul li label {
  font-size: 19px;
  color: #231F20;
}

.newsletters .movers-right-block h1 {
  font-size: 19px;
  color: #585858;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0 20px;
}

.newsletters .paging {
  padding-top: 25px;
  padding-bottom: 39px;
}

.jobsdetail .movers-left-block .content {
  background: #f3f3f4;
}

.jobsdetail .listpost ul p, .blogdetail .listpost ul p {
  padding: 0
}

.jobsdetail .movers-right-block h1 {
  font-size: 36px;
  color: #404041;
  font-weight: bold;
  text-transform: inherit;
  padding: 30px 0 10px;
}

.jobsdetail .movers-right-block .content {
  color: #404041;
  padding-right: 0px;
}

.jobsdetail .movers-right-block .content h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 0;
}

.newsldetail .movers-left-block {
  padding-right: 20px;
}

.newsldetail .movers-right-block h1 {
  padding: 15px 0 10px;
}

.newsldetail .movers-right-block .head h2 {
  font-size: 26px;
  color: #585858;
  font-weight: normal;
  text-transform: uppercase
}

.newsldetail .movers-right-block .head label {
  font-size: 16px;
  color: #231f20;
  font-weight: bold;
  text-transform: uppercase
}

.newsldetail .movers-right-block .head {
  border-bottom: 4px solid #ffe05e;
  padding-top: 0;
  margin-bottom: 60px
}

.library4 .movers-right-block .content {
  padding-right: 0
}

.library4 .movers-right-block .content .adsx {
  text-align: center
}

.library4 .movers-right-block .content .adsx img {
  max-width: 100%;
}

.library4 .movers-right-block .box, .library4 .movers-right-block .box > div {
  padding-top: 0
}

.library4 .movers-right-block .box .colL h3 a, .library4 .movers-right-block .box .colR h4 a {
  font-size: 18px;
  color: #231F20;
  text-decoration: underline;
  font-weight: bold
}

.library4 .movers-right-block .box .colL p .ftimg {
  float: left;
  margin: 5px 5px 20px 0;
  max-width: 50%
}

.library4 .movers-right-block .box .colR .ftimg {
  max-width: 100%;
  border: 1px solid #cbcdce;
  width: 100%;
  margin: 10px 0 0;
}

.library4 .movers-right-block .box .colR h4 a {
  text-transform: uppercase
}

.library4 .movers-right-block .box .colR {
  padding-top: 5px;
  padding-left: 30px;
}

.library4 .movers-right-block .box .readmore {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  color: #231f20;
  font-style: italic;
}

.library4 .movers-right-block .box .colR p {
  padding-top: 0
}

.library2 {
  padding-right: 30px;
}

.library2 .list-post .wrap-post {
  margin: 10px 0;
  padding: 0 10px 0 0;
}

.library2 .list-post .wrap-post .wrap-bg {
  background-color: #f3f3f4;
  padding: 10px;

}

.library2 .list-post .wrap-post:nth-child(2n+0) {
  padding: 0;
  padding-left: 10px;
}

.library2 .wrap-post .img-post {
  padding: 0;
}

.library2 .wrap-post .img-post img {
  width: 100%;
}

.library2 .title-post {
  font-size: 14px;
  font-weight: bold;
  color: #231f20;
  margin-bottom: 10px;
}

.library2 .title-post a, .download-file a {
  text-decoration: none;
}

.library2 .content-post {
  font-size: 12px;
  color: #585858;
  line-height: 18px;
  padding-right: 0;
}

.library2 .download-file {
  margin-top: 15px;
}

.library2 .download-file a {
  padding: 5px;
  background: #58585a;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
}

.library2 .content h1 {
  font-size: 19px;
  font-weight: bold;
  color: #585858;
}

@media screen and (max-width: 480px) {
  .library2 .list-post .wrap-post {
    width: 100%;
    padding-right: 0;
  }
  .library2 .list-post .wrap-post:nth-child(2n+0) {
    padding-left: 0;
  }
}

/*---------------  Fix  ------------------*/
.nopadding {
  padding: 0;
}

/*--------------- End of Fix  ------------------*/

/*---------------  Jobs parent  ------------------*/
.w-filters {
  padding: 20px 20px 20px 10px;
}

.w-filters input,
.w-filters select {
  width: 120px;
  height: 24px;
  margin: 0 15px;
  border: 2px solid #bdbec0;
  margin-bottom: 10px;
}

.w-filters .btn-group {
  margin: 0 15px;
  height: 24px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
  padding: 0;
  width: 100px;
  border: 2px solid #bdbec0;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0;
  padding: 0;
  background: #bdbec0;
  width: 20px;
  border: 2px solid #bdbec0;
}

.w-filters .dropdown-menu > li {
  padding-left: 0;
}

.w-filters .caret {
  color: #fff;
}

.w-filters input.btn-filter {
  width: 74px;
  border: 0;
  color: #fff;
}

.lbl-featured-jobs {
  font-size: 14px;
  color: #585858;
  font-weight: bold;
  padding-left: 40px;
  margin-bottom: 10px;
}

.list-featured-jobs {
  min-height: 360px;
  background: #e7e7e8;
  padding: 10px 14px 10px 14px;
  margin-bottom: 50px;
}

.list-featured-jobs .w-each-featured-job {
  margin-bottom: 10px;
}

.list-featured-jobs .w-each-featured-job:last-child {
  margin-bottom: 0;
}

.list-featured-jobs .w-logo-featured-job {
  width: 10%;
  height: 80px;
  overflow: hidden;
  background: #a7a9ac;
  float: left;
}

.list-featured-jobs .w-logo-featured-job img {
  width: 100%;
  height: auto;
}

.list-featured-jobs .w-info-featured-jobs {
  height: 80px;
  width: 90%;
  overflow: hidden;
  padding: 12px;
  background: #fff;
  float: left;
}

.lbl-company {
  font-size: 14px;
  color: #404041;
  margin-bottom: 4px;
}

.lbl-position {
  font-size: 16px;
  color: #404041;
}

.lbl-country,
.lbl-deadline {
  font-size: 14px;
  color: #585858;
  width: 50%;
  float: left;
}

.other-list th {
  font-size: 14px;
  font-weight: bold;
  color: #585858;
}

.other-list td {
  font-size: 14px;
  font-weight: bold;
  color: #404041;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #d1d2d4;
}

.jobs-parent-paging {
  padding-top: 50px;
}

.jobsparent .other-list tbody tr td span {
  overflow: hidden;
  height: 33px;
  display: block;
  line-height: 16px;
}

.jobsparent .other-list tbody tr td:nth-child(3n) {
  color: #585858
}

.jobsparent .other-list tbody tr td:nth-child(4n) {
  color: #585858
}

.jobsparent .featuredJobs-slider {
  padding-left: 0;
  padding-right: 0
}

.wraplist .category-dropdown {
  margin-left: 10px ;
  margin-top: 10px;
  display: none;
}




/*---------------  End of Jobs parent  ------------------*/

/*-----------------  MEDIA  -----------------*/
@media only screen and (max-width: 1250px) {
  .list-featured-jobs .w-logo-featured-job {
    width: 16%;
  }
  .list-featured-jobs .w-info-featured-jobs {
    width: 84%;
  }
}

.library1 .movers-right-block h1 {
  font-size: 19px;
  font-weight: bold;
  color: #585858;
  padding-top: 20px;
}

.library1 .movers-right-col-1, .movers-right-col-2 {
  padding-top: 0px !important;
}

.library1 .movers-right-col-1 div, .movers-right-col-2 div {
  padding: 0px;
}

.library1 .wrap-item-movers img {
  width: 100%;
}

.library1 .movers-right-col-2 {
  border-left: 2px solid #c9cacb;
}

.library1 .movers-right-col-2 .col-wrap {
  padding: 0 4px 0 39px;
}

.library1 .movers-right-col-1 {
  padding-right: 30px !important;
}

.library1 .movers-right-col-1 .col-wrap {
  padding-right: 30px;
}

.library1 .movers-right-col-1 .col-wrap,
.library1 .movers-right-col-2 .col-wrap {
  margin-bottom: 20px
}

.library1 .movers-right-col-1 .col-wrap:nth-child(2n+0) {
  padding-right: 0px;
  padding-left: 30px;
}

.library1 .movers-right-block .movers-right-col-2 h2 {
  font-size: 19px;
  font-weight: bold;
  color: #585858;
  margin-top: -31px;
  padding: 0 0 15px 15px;
}

.library1 .movers-right-block .content .newsletters-bot h2 {
  font-size: 21px;
  font-weight: bold;
  color: #231f20;
  text-transform: uppercase;
}

.library1 .newsletters-bot {
  background: #e7e7e8;
  padding: 30px 25px 30px 40px !important;
}

.library1 .newsletters-bot h3 {
  font-size: 29px;
  color: #585858;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 44px;
}

.newsletters-bot h3 a {
  text-decoration: none;
  font-size: 29px;
}

.newsletters-bot h3.line-yellow {
  border-bottom: 3px solid #ffe05e;
}

.newsletters-bot h3.line-red {
  border-bottom: 3px solid #bf2030;
}

.newsletters-bot h3.line-green {
  border-bottom: 3px solid #3ab54a;
}

.newsletters-bot h3.line-orange {
  border-bottom: 3px solid #f05b2b;
}

.newsletters-bot h3.line-blue {
  border-bottom: 3px solid #1176bc;
}

@media screen and (max-width: 991px) {
  .library1 .movers-right-col-2 {
    border-left: 0px;
  }
  .library1 .movers-right-col-2 .col-wrap {
    padding-left: 30px;
    padding-right: 0px;
  }
  .library1 .movers-right-col-2 .col-wrap:nth-child(2n+0) {
    padding-right: 30px;
    padding-left: 0px;
  }
  .library1 .movers-right-col-1 {
    padding-right: 0px !important;
  }
  .library1 .movers-right-block .movers-right-col-2 h2 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .newsletters-bot h3 a {
    font-size: 19px;
  }
  .newsletters-bot h3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
	.library1 .col-wrap {
		width: 100%;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.myReferences, .myAwards, .myJobDetails, .myUserChannels {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px;
}

@font-face {
    font-family: Helvetica_Light;
    src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}

.newsldetail .movers-right-block .head h2{font-family:Helvetica_Light;}
.newsletters-bot h3 a{font-family:Helvetica_Light; color:#585858}
.library1 .movers-right-block .content .newsletters-bot h2{margin-bottom: -35px;}

