/* naw */

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left:0;
  margin-right: 0;
  padding: 0;

}
#navbar > .main-nav li{height: 30px;display: inline-block}
nav.navbar.navbar-default.main-nav{width: 100%; padding-left: 25px}
#navbar > .navbar-nav > li{float:none}
#navbar > .nav > li{display:inline-block}
#navbar > .navbar-nav:after {
  content: "";
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%;
}
#navbar > .navbar-nav {
  -moz-user-select: none;
  cursor: default;
  position: relative;
  text-align: justify;
  width: 100%;
  z-index: 1;
}
.navbar.navbar-default.main-nav{
  background-color: #939598;
  @include border-radius(0px);
  min-height: 30px;
  margin-bottom: 5px;
  padding-right: 0;
  border: 0;
}
.nav.navbar-nav
.main-nav .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.main-nav ul.nav li:first-child{

}
.navbar-default .navbar-toggle {
  background: none repeat scroll 0 0 #ddd;
  border: 0 none;
  @include border-radius(0px);
  float: left;
  margin: 6px 3px 0 6px;
  @include border-radius(0px);
}
.navbar-default .navbar-toggle .darkred-color{
  background: $darkred-color;
}
.navbar-default .navbar-toggle .lime-color{
  background: $lime-color;
}
.navbar-default .navbar-toggle .blue-color{
  background: $blue-color;
}


.main-nav ul.nav li:hover{

}
.main-nav ul.nav li a:hover{
 color: #252525;
}
.main-nav ul.nav li.current{
  color: #252525;
}
.main-nav .navbar-right{
  float: left!important;
}

.main-nav .navbar-nav > li > .dropdown-menu {
  border: 0 none;
  box-shadow: none;
  left: auto;
  right: 0;
}
.new-nav div{padding: 0}
.new-nav {
  margin-top: 15px;padding: 0;
}
.logo{margin-top:10px}
.main-nav ul.nav li.gold-color{
  @include add-border(4px, $gold-color,'top');
}
.main-nav ul.nav li.gold-color:hover{
background: $gold-color;
}

.main-nav ul.nav li.imaging{

}
.main-nav ul.nav li.imaging:hover a{
  color: $gold-color;
}
.main-nav ul.nav li.imaging.current a{
  color: $gold-color;
}
.main-nav ul.nav li.icu{

}
.main-nav ul.nav li.icu:hover a{
  color: $darkred-color;

}
.main-nav ul.nav li.icu.current a{
  color: $darkred-color;
}
.main-nav ul.nav li.admin{

}
.main-nav ul.nav li.admin:hover a{
  color: $lime-color;
}
.main-nav ul.nav li.admin.current a{
  color: $lime-color;
}
.main-nav ul.nav li.it{

}
.main-nav ul.nav li.it:hover a{
  color: $blue-color;

}
.main-nav ul.nav li.it.current a{
  color: $blue-color;
}

.main-nav ul.nav li.cardio{

}
.main-nav ul.nav li.cardio:hover a{
  color: $organge-color;

}
.main-nav ul.nav li.cardio.current a{
  color: $organge-color;
}
.main-nav ul.nav li.pharma{

}
.main-nav ul.nav li.pharma:hover a{
  color: $limegreen-color;

}
.main-nav ul.nav li.pharma.current a{
  color: $limegreen-color;
}
.main-nav ul.nav li.lab{

}
.main-nav ul.nav li.lab:hover a{
  color: $darkblue-color;
}
.main-nav ul.nav li.lab.current a{
  color: $darkblue-color;
}
.main-nav ul.nav li.journals{

}
.main-nav ul.nav li.journals:hover a{
  color: $gray-color;

}
.main-nav ul.nav li.journals.current a{
  color: $gray-color;
}

.main-nav ul.nav li a{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
 border: 0;
}
.main-nav ul.nav li ul li a{
  font-size: 10px;
}
.navbar-nav > li > .dropdown-menu {
  background: $dark-color;
}
.main-nav ul.nav li.dropdown.open{
  background: $dark-color;
}
.main-nav ul.nav li.dropdown ul.dropdown-menu li:hover{
  background: $dark-color;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $dark-color;
  color: #fff;
}
.dropdown-menu > li {
  border-right: 0 none !important;
  padding-left: 10px;
}

.main-nav .dropdown-menu > li > a:hover,
.main-nav .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: $dark-color;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #939598;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #939598;
}
.navbar-nav > li > .dropdown-menu.login-dropdown {
  background: #C0C0C0;
  border: 0;
  @include border-radius(0px);
}
.navbar-nav > li > .dropdown-menu.login-dropdown > li {
  border-right: 0 none !important;
  padding: 5px 20px;
}
.navbar-nav > li > .dropdown-menu.login-dropdown > li a{
  @include border-radius(10px);
  background: #F5F5F5;
  color: #46494c;
  padding: 0 10px;
}
.login-lst{height:34px;padding-top:10px}
.login-lst > ul{
  display:inline-block;
  padding-left: 5px;
}
.login-lst .navbar-nav > li > a {
  background: url("../img/mysprites.png") no-repeat scroll 05px -257px rgba(0, 0, 0, 0);
  display: block;
  height: 35px;
  width: 39px;
  text-indent: -99999px;
}
.navbar-right {
  margin-right: 0px;
}
